
/* *css for planets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @keyframes planets_rotation {
    100% {
      background-position: 100%;
    }
  }
  
  .planets {
    border-radius: 50%;
    box-shadow: 0px 2px 10px 5px rgb(0, 0, 0);
  }
  
  .mercury {
    background-image: url("images/planets/1mercury.jpg");
    animation: planets_rotation 110s infinite;
    width: 20vw;
    height: 20vw;
  }
  .venus {
    background-image: url("images/planets/2venus.jpg");
    animation: planets_rotation 50s infinite;
    width: 20vw;
    height: 20vw;
  }
  .earth {
    background-image: url("images/planets/3earth.jpg");
    animation: planets_rotation 50s infinite;
    width: 20vw;
    height: 20vw;
  }
  .mars {
    background-image: url("images/planets/4mars.jpg");
    animation: planets_rotation 100s infinite;
    width: 20vw;
    height: 20vw;
  }
  .jupiter {
    background-image: url("images/planets/5jupiter.jpg");
    animation: planets_rotation 60s infinite;
    width: 20vw;
    height: 20vw;
  }
  .saturn {
    background-image: url("images/planets/6saturn.jpg");
    animation: planets_rotation 40s infinite;
    width: 20vw;
    height: 20vw;
  }
  .uranus {
    background-image: url("images/planets/7uranus.png");
    animation: planets_rotation 30s infinite;
    width: 20vw;
    height: 20vw;
  }
  .neptune {
    background-image: url("images/planets/8neptune.png");
    animation: planets_rotation 30s infinite;
    width: 20vw;
    height: 20vw;
  }
  .pluto {
    background-image: url("images/planets/9pluto.png");
    animation: planets_rotation 40s infinite;
    width: 20vw;
    height: 20vw;
  }
  