* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;

}
a{
  text-decoration: none;
  color: white;
}
:root {
  --bg-blob-blue: rgb(4, 58, 138);
  --bg-blob-pink: rgb(219, 70, 159);
  --bg-main: rgb(4, 13, 33);
  --bg-sub: #001f47b0;
  --name-color: rgb(255, 255, 255);
}
body {
  background-color: var(--bg-main);
  height: 80vh;
}

@font-face {
  font-family: A-cap;
  src: url(fonts/FrederickatheGreat-Regular.ttf);
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  background: transparent; 

}
/* *KEY FRAMES */

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
    transform: rotate(5deg);
    animation-timing-function: ease-in;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
    transform: scale(2.2);
  }
}
@-webkit-keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(30) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(30) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* *KEY FRAMES */
.space,
.stars {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  height: 250vh;
}
.bottom{
  top: 1800px;
  height: 700px;
}
.stars {
  background-image: url("assets/other-assets/star.png");
  background-image: radial-gradient(
      2px 2px at 50px 200px,
      #eee,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(3px 4px at 120px 40px, #ddd, rgba(0, 0, 0, 0));
  /* background-repeat: repeat; */
  background-size: 250px 250px;
  opacity: 0;
  animation: zoom 10s infinite;
}
.stars:nth-child(1) {
  background-position: 10% 90%;
  animation-delay: 0s;
}
.stars:nth-child(2) {
  background-position: 20% 50%;
  background-size: 270px 500px;
  animation-delay: 0.3s;
}
.stars:nth-child(3) {
  background-position: 40% -80%;
  animation-delay: 1.2s;
}
.stars:nth-child(4) {
  background-position: -20% -30%;
  transform: rotate(60deg);
  animation-delay: 2.5s;
}
.stars:nth-child(5) {
  background-image: url("assets/other-assets/star.png");
  background-image: radial-gradient(
      2px 2px at 10px 100px,
      #eee,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(2px 2px at 20px 10px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(3px 4px at 150px 40px, #ddd, rgba(0, 0, 0, 0));
  background-position: 80% 30%;
  animation-delay: 4s;
}
.stars:nth-child(6) {
  background-position: 50% 20%;
  animation-delay: 6s;
}

.blob-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  filter: blur(15px) contrast(200%);
  /* z-index: 1; */
  top: -2000px;
}

.blob {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  border: solid 1px var(--bg-blob-blue);
  background-color: var(--bg-blob-blue);
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -webkit-animation: cube 12s ease-in forwards infinite;
  animation: cube 12s ease-in forwards infinite;
}

.blob:nth-child(2) {
  -webkit-animation-delay: 0.5;
  animation-delay: 0.5;
  left: 25vw;
  top: 40vh;
  background-color: var(--bg-blob-pink);
  border-color: var(--bg-blob-pink);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.blob:nth-child(3) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  left: 75vw;
  top: 50vh;
  background-color: var(--bg-blob-pink);
  border-color: var(--bg-blob-pink);
  border-radius: 43% 57% 46% 54% / 78% 56% 44% 22%;
}
.blob:nth-child(4) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
  border-radius: 42% 58% 48% 52% / 23% 20% 80% 77%;
}
.blob:nth-child(5) {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.blob:nth-child(6) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
  border-radius: 43% 57% 46% 54% / 78% 56% 44% 22%;
}


.background {
  /* z-index: -1; */
  /* position: relative; */
  top: -150px;
  height: 30vh;
  /* background-repeat: repeat-y; */
}

/* * HEADER */
.container {
  padding: 5px;
  position: relative;
  z-index: 3;
}
/* .header{
  } */
.title {
  color: var(--name-color);
  font-family: A-cap;
  font-size: 15vw;
  text-align: center;
  -webkit-animation: scale-in-center 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.title span {
  font-size: 7px;
}
.subtitle {
  color: var(--name-color);
  font-family: monospace;
  text-align: center;
  font-size: 2.8vw;
  line-height: 5px;
  -webkit-animation: scale-in-center 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* !---------------------SECTION-------------------------------------- */
.section {
  /* position: absolute; */
  z-index: 3;
  margin: 30px 0 0 0;
}
.popup{
  position: absolute;
  z-index: 5;
  top: 25vh;
  left: 20vw;
  right: 20vw;
  display: none;
}

.mail-container {
  background-color: var(--bg-main);
  width: 60vw;
  padding: 10px;
  color: var(--name-color);
  border-radius: 10px;
  font-family: monospace;
  font-size: 15px;
}
.mail-container img {
  width: 100%;
  border-radius: 15px;
}
.mail-container p {
  margin: 5px;
  font-size: 15px;
}
fieldset {
  margin-bottom: 10px;
  border-radius: 15px;
}
.mail-container input {
  background-color: transparent;
  outline-style: none;
  border: none;
  border-radius: 10px;
  padding: 5px;
  color: var(--name-color);
  width: 100%;
}
legend {
  margin-left: 5px;
  font-size: 18px;
  font-weight: 500;
}
.mail-container button {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: none;
  margin: auto;
}
form .send_button:hover {
  color: white;
  cursor: pointer;
  scale: 1.1;
  background: linear-gradient(
    145deg,
    #405de6,
    #c13584,
    #fd1d1d,
    #ff6a07,
    #ff05de
  );
}
.form_btns{
  display: flex;
}
form .send_button :hover  svg {
  scale: 1.1;
  font-weight: 700;
}
form .send_button :hover p {
  scale: 1.1;
  font-weight: 900;
}

form #close_popup:hover{
 background-color:red ;
 fill: white;
 scale: 1.1;
 font-weight: 900;
 color: white;
}
.prompt-grid {
  display: none;
}
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
}
body .buttons button:hover{
  cursor: pointer;
}
.explore button svg{
  color: var(--name-color);
}
.members button svg{
  color: var(--name-color);
}
.connect button svg{
  color: var(--name-color);
}
.section .buttons .connect{
  display: none;
}
.buttons button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons button p{
  font-size: 20px;
  font-weight: 500;
  color: var(--name-color);
  margin-left: 5px;
  font-family: monospace;

}
.buttons button{
  width: 40vw;
  background-color: var(--bg-sub);
  border: 2px solid white;
  margin-left: 5px;
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
}


.drop_container img {
  max-width: 100%;
  height: auto;
}

.drop_container {
  display: grid;
}

.drop_container {
  row-gap: 1rem;
  padding: 5px;
  font-family: monospace;
}

.drop_card,
.drop_data {
  display: flex;
  align-items: center;
}

.drop_card {
  width: 100%;
  justify-content: space-between;
  padding: 0.75rem 1.25rem.75rem 0.75rem;
  background-color: var(--bg-sub);
  /* box-shadow: 4px 4px 16px #e1e1e1, -2px -2px 16px #fff; */
  border-radius: 2.5rem;
  border: 2px solid white;
  color: white;
}

.drop_img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  margin-right: 1rem;
}

.drop_name {
  font-size: 20px;
  font-weight: 500;
}

/* .drop_profession {
} */

.drop_social {
  margin: 5px 2px 1px 2px;
  color: white;
  transition: 0.4s;
}
.fa-brands{
  color: var(--name-color);
}
.fa-youtube:hover{
 color:red ;
}
.fa-instagram:hover{
 color:#40dbe6;
}
.fa-linkedin:hover{
  color: rgb(25, 125, 255);
}

.social-div{
  display: flex;
  align-items: center;
  flex-direction: column;
}


/* !-----------------contents--------------- */
.contents{
  z-index: 4;
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
.contents .content{
  width: 80vw;
  height: 100%;
  background-color: var(--bg-sub);
  color: var(--name-color);
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid white;
 overflow-y:scroll;

}
.contents img{
  width: 100%;
  border-radius: 15px;
  /* margin:0px auto; */
  border: 1px solid white;
  align-content: center;
  margin: 5px;
}

.contents .brief p{
 padding: 5px;
 margin-top: 10px;
 line-height: 25px;
}

.footer{
  background-color: var(--bg-main);
  width: 98vw;
  height: 20vh;
  position: absolute;
  /* bottom: 0px; */
  left: 5px;
  right: 10px;
  z-index: 3;
  padding: 10px;
  border: 1px solid white;
  margin-left:1px ;
  margin-bottom: 2px;
  border-radius: 5px;
  font-family: monospace;
  color: var(--name-color);
  display:flex ;
  justify-content: space-between;
  align-items: center;
}
.ft-title{
  font-size: 35px;
}
.ft-mine{
  margin-top: 2px;
 font-size: 25px;
}
.time{
  margin-top: 2px;
}
.infos{

}
.ft-img{
  display: flex;
}
.ft-img img{
  width: 70px;
  border-radius: 50%;
}
.btns{
  margin-top: 2px;
}
.btn1{
 
}
.btn2{

}
.ph-connect .connect button{
  width: 40vw;
  background-color: var(--bg-sub);
  border: 2px solid white;
  margin-left: 5px;
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
}
.ph-connect .connect p{
  font-size: 20px;
  font-weight: 500;
  color: var(--name-color);
  margin-left: 5px;
  font-family: monospace;

}

.about-continer {
width: 95vw;
background-color: rgb(4, 13, 33);
/* height: 70vh; */
border: 1px solid white;
border-radius: 25px;
color: white;
font-family: monospace;
position: absolute;
top: 10px;
left: 10px;
z-index: 5;

display: none;
}
.abt-header{
  background-color: var(--bg-main);
display: flex;
align-items: center;
justify-content: space-around;
margin-top: 5px;
border-radius: 25px;
padding: 10px;
position: relative;
}
.abt-header img{
  width: 100px;
  border-radius: 50%;
}
.abt-header h1{
  font-size: 45px;
}
.about {
  overflow-y: scroll;
  letter-spacing: 1.5px;
  /* margin: auto; */
  /* height: 150px; */
}
.abt-header svg{
  fill: white;
}
.members {
}
.abtclsbtn{
  position: absolute;
  margin: 2px;
  top: 0;
  right: 2px;
}

.explore-continer {
  width: 95vw;
background-color: rgb(4, 13, 33);
height: 70vh;
border: 1px solid white;
border-radius: 25px;
color: white;
font-family: monospace;
position: absolute;
top: 10px;
left: 10px;
z-index: 5;
overflow-y: scroll;
display: none;
}
.explore-header {
  background-color: var(--bg-main);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5px;
  /* border-radius: 25px; */
  padding: 10px;
  position: sticky;
  top: 0;
}
.planets-container {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: repeat(2, 1fr);
 gap: 2px;
}
.planets-container a{
  margin: 5px;
}
.planets-itms{
  border: 1px solid white;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  /* display: flex; */
  height: 100%;
  justify-content: space-between;
}
.planets-des{
  grid-column-start: 2;
  margin-top: 5px;
}
p strong{
 text-decoration: underline;
 font-size: 10px;
}
.morebtn{
/* margin-top: 20px; */

}
/* !planets */
/* !planets */

@keyframes planets_rotation {
  100% {
    background-position: 200%;
  }
}

.planets {
  border-radius: 50%;
  grid-row: span 2 / span 2;
  box-shadow: 0px 2px 10px 5px rgb(0, 0, 0);
}

.mercury {
  background-image: url("assets/planets/1mercury.jpg");
  animation: planets_rotation 110s infinite;
  width: 20vw;
  height: 20vw;
}
.venus {
  background-image: url("assets/planets/2venus.jpg");
  animation: planets_rotation 50s infinite;
  width: 20vw;
  height: 20vw;
}
.earth {
  background-image: url("assets/planets/3earth.jpg");
  animation: planets_rotation 50s infinite;
  width: 20vw;
  height: 20vw;
}
.mars {
  background-image: url("assets/planets/4mars.jpg");
  animation: planets_rotation 100s infinite;
  width: 20vw;
  height: 20vw;
}
.jupiter {
  background-image: url("assets/planets/5jupiter.jpg");
  animation: planets_rotation 60s infinite;
  width: 20vw;
  height: 20vw;
}
.saturn {
  background-image: url("assets/planets/6saturn.jpg");
  animation: planets_rotation 40s infinite;
  width: 20vw;
  height: 20vw;
}
.uranus {
  background-image: url("assets/planets/7uranus.png");
  animation: planets_rotation 30s infinite;
  width: 20vw;
  height: 20vw;
}
.neptune {
  background-image: url("assets/planets/8neptune.png");
  animation: planets_rotation 30s infinite;
  width: 20vw;
  height: 20vw;
}
.pluto {
  background-image: url("assets/planets/9pluto.png");
  animation: planets_rotation 40s infinite;
  width: 20vw;
  height: 20vw;
}


/* !planets */
@media only screen and (max-width: 780px){
  /* !planets */
.planets-details-container {
  /* border: 1px solid white; */
  width: 99vw;
  height: 100svh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: monospace;
  overflow-y: scroll;
  padding: 10px;
  /* padding-top: 80px; */
  /* margin-top: 55px; */
  overflow-y: scroll;

}
.mps{
  padding-top: 80px;
}
.planet-img {
  margin-top: 350px;
}
#pimg{
  width: 50vw;
  height: 50vw;
  /* margin: 15px; */
}
.planets-des {
  /* height: 20%; */
}
.planet-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.planet-info {
  font-size: 18px;
}
}

  /* TODO ---------------media query------------------------ */
  @media only screen and (min-width: 600px) {
    /* ! For tablets: */
    /* .about-continer {
      width: 50vw;

      } */
  }
  @media only screen and (min-width: 768px) {
    /* ? For desktop: */
    /* body .header{} */
    .header .title {
      /* letter-spacing: 2.5px; */
      font-size: 130px;
      -webkit-animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
      animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    .header .subtitle {
      line-height: 0px;
      font-size: 15px;
      -webkit-animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
      animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    .mail-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;
      align-items: center;
    }
  
    .mail-container img {
      grid-row: span 2 / span 2;
    }
  
    .mail-container .inputs {
      grid-row: span 2 / span 2;
    }
    .prompt {
      display: none;
    }
    .inputs .prompt-grid {
      display: grid;
      font-size: 20px;
    }
    .section .buttons button{
      width: 250px;
     
    }
  
    .contents .content .img img{
      width: 50%;
      margin-left: 25%;
      margin-right: 25%;
       }
       .section .buttons .connect{
        display: block;
      }
      .contents .ph-connect{
        display: none;
      }
      .about-continer {
        width: 40vw;

        }
        .explore-continer{
          width: 40vw;
        }
        .planets{
          width: 10vw;
          height: 10vw;
        }
        .ft-img img{
          width: 100px;
        }
        /* !planets */
        .planets-details-container {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: 8px;
          color: white;
          font-family: monospace;
         
          height: 50vh;
          margin: 5vw;
        }
        .planet-img {
          grid-row: span 2 / span 2;
        }
        .planet-des{
          grid-row: span 2 / span 2;
          
        }
        .planet-img #pimg{
          width: 30vw;
          height: 30vw;
        }
        .planet-title h1{
        font-size: 52px;
        }
        .planet-info {
          grid-column-start: 2;
           height: 70vh;
           line-height: 35px;
           overflow-y: scroll;
         
        }
        .planet-info p{
          font-size: 22px;
        }
        
        /* !planets */
  }
  /* TODO -------------------media query----------------------------*/
